@model List<MaxsPetCare.Models.Boarding>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "All Pet Boarding";
    ViewBag.Active_Boarding = "active";
}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card ">
            <div class="card-header">
                <h3>@ViewBag.Title</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="">
                        <thead class=" text-primary">
                            <tr>
                                <th>#</th>
                                <th>User</th>
                                <th>Pet Type</th>
                                <th>Pet Breed</th>
                                <th>Pickup Address</th>
                                <th>Pickup Date</th>
                                <th>Drop Date</th>
                                <th>Amount</th>
                                <th>Added Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.UserName</td>
                                        <td>@item.PetType</td>
                                        <td>@item.PetBreed</td>
                                        <td>@item.PickUpAddress</td>
                                        <td>@item.PickUpDate.ToLongDateString()</td>
                                        <td>@item.DropDate.ToLongDateString()</td>
                                        <td>@item.Amount.ToString("C")</td>
                                        <td>@item.DateTime.ToLongDateString()</td>
                                    </tr>
                                i++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>