@model List<MaxsPetCare.Models.Consulting>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "All Consulting";
    ViewBag.Active_Consulting = "active";
}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card ">
            <div class="card-header">
                <h3>@ViewBag.Title</h3>
            </div>
            <div class="card-body">
                <div class="">
                    <table class="table" id="">
                        <thead class="text-primary">
                            <tr>
                                <th>#</th>
                                <th>User</th>
                                <th>Pet Type</th>
                                <th>Pet Breed</th>
                                <th>Pickup Address</th>
                                <th>Pickup Date</th>
                                <th>Status</th>
                                <th>Added Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.UserName</td>
                                        <td>@item.PetType</td>
                                        <td>@item.PetBreed</td>
                                        <td>@item.PickUpAddress</td>
                                        <td>@item.PickUpDate.ToLongDateString()</td>
                                        <td>
                                            @if (item.Status == 0)
                                            {
                                                <span class="font-weight-bold text-warning">
                                                    Pending
                                                </span>
                                            }
                                            else if (item.Status == 1)
                                            {
                                                <span class="font-weight-bold text-success">
                                                    Accepted
                                                </span>
                                            }
                                            else if (item.Status == 2)
                                            {
                                                <span class="font-weight-bold text-danger">
                                                    Rejected
                                                </span>
                                            }
                                        </td>
                                        <td>@item.DateTime.ToLongDateString()</td>
                                        <td>
                                            @if (item.Status == 0)
                                            {
                                                <div class="dropdown">
                                                    <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Action
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                        <button class="dropdown-item" onclick="ConfirmAction('@Url.Action("ConsultingStatus", new { ID = item.ID, Status = 1 })')">Accept</button>
                                                        <button class="dropdown-item" onclick="ConfirmAction('@Url.Action("ConsultingStatus", new { ID = item.ID, Status = 2 })')">Reject</button>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <span class="text-muted">
                                                    No Action required!
                                                </span>
                                            }
                                        </td>
                                    </tr>
                                i++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function ConfirmAction(url) {
            if (confirm("Are you sure?")) {
                window.location.replace(url);
            }
            return false;
        }
    </script>
}