<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@AppInfo.AppName - @ViewBag.Title</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Styles bundle -->
    @Styles.Render("~/css")
    <link href="~/Plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="@Url.Action("Index", "Home")"><span>@AppInfo.AppName</span></a></h1>
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="@ViewBag.Active_Home"><a href="@Url.Action("Index", "Home")#header">Home</a></li>
                    <li class="@ViewBag.Active_Consulting"><a href="@Url.Action("Consulting", "Home")">Pet Consulting</a></li>
                    <li class="@ViewBag.Active_Training"><a href="@Url.Action("Training", "Home")">Pet Training</a></li>
                    <li class="@ViewBag.Active_Boarding"><a href="@Url.Action("Boarding", "Home")">Pet Boarding</a></li>
                    @if (Session["UserID"] != null)
                    {
                        <li class="drop-down @ViewBag.Active_Mys">
                            <a href="">Welcome @Session["Name"]</a>
                            <ul>
                                <li class="@ViewBag.Active_MyConsulting"><a href="@Url.Action("MyConsulting", "Home")">My Pet Consulting</a></li>
                                <li class="@ViewBag.Active_MyTraining"><a href="@Url.Action("MyTraining", "Home")">My Pet Training</a></li>
                                <li class="@ViewBag.Active_MyBoarding"><a href="@Url.Action("MyBoarding", "Home")">My Pet Boardings</a></li>
                                <li class="@ViewBag.Active_MyAccount"><a href="@Url.Action("MyAccount", "Home")">My Account</a></li>
                                <li><a href="@Url.Action("Logout", "Home")">Logout</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="drop-down @ViewBag.Active_Accounts">
                            <a href="">Account</a>
                            <ul>
                                <li class="@ViewBag.Active_Login"><a href="@Url.Action("Login", "Account")">Login</a></li>
                                <li class="@ViewBag.Active_Register"><a href="@Url.Action("Register", "Account")">Register</a></li>
                                <li class="@ViewBag.Active_AdminLogin"><a href="@Url.Action("AdminLogin", "Account")">Admin Login</a></li>
                            </ul>
                        </li>
                    }

                    <li class="get-started"><a href="@Url.Action("ContactUs", "Home")">Contact us</a></li>
                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->

    @RenderBody()

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-12 text-lg-left text-center">
                    <div class="copyright">
                        &copy; Copyright @DateTime.Now.Year <strong>@AppInfo.AppName</strong>. All Rights Reserved
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    @Scripts.Render("~/js")
    @Scripts.Render("~/jqueryval")

    <script src="~/Scripts/bootstrap-notify.js"></script>
    @{
        if (Session["Flash_Success"] != null)
        {
            <script>
                $.notify({
                    title: '<strong>@Html.Raw(Session["Flash_Success"])</strong>',
                    message: '',
                }, {
                    type: 'success',
                });
            </script>
            Session["Flash_Success"] = null;
        }

        if (Session["Flash_Error"] != null)
        {
            <script>
                $.notify({
                    title: '<strong>@Html.Raw(Session["Flash_Error"])</strong>',
                    message: '',
                }, {
                        type: 'danger',
                    allow_dismiss: false
                });
            </script>
            Session["Flash_Error"] = null;
        }
    }

    <script src="~/Plugins/daterangepicker/moment.min.js"></script>
    <script src="~/Plugins/daterangepicker/daterangepicker.js"></script>

    <script>
        $(function () {
            var CurrentDate = new Date();
            var PlusDays = new Date();
            PlusDays.setDate(CurrentDate.getDate() + 10);
            console.log(PlusDays)
            $('.dtpicker').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minDate: CurrentDate,
                maxDate: PlusDays,
                opens: 'right',
                drops: 'up',
                locale: {
                    format: 'YYYY-MM-DD'
                }
            });
        });
    </script>

    @RenderSection("scripts", required: false)

</body>

</html>