@model MaxsPetCare.Models.Users
@{
    ViewBag.Title = "Login";
    ViewBag.Active_Accounts = "active";
    ViewBag.Active_Login = "active";
}

<main class="main">
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>@ViewBag.Title</h2>
            </div>

            <div class="row">
                <div class="col-lg-4 ml-auto mr-auto col-md-12" data-aos="fade-up" data-aos-delay="300">
                    @if (Session["Error"] != null)
                    {
                        <div class="alert alert-danger mb-3" role="alert" data-aos="zoom-in">
                            @Html.Raw(Session["Error"])
                        </div>
                        Session["Error"] = null;
                    }
                    @if (Session["Success"] != null)
                    {
                        <div class="alert alert-success mb-3" role="alert" data-aos="zoom-in">
                            @Html.Raw(Session["Success"])
                        </div>
                        Session["Success"] = null;
                    }
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email)
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your email" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "error" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password)
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Enter your password" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "error" })
                        </div>
                        <div class="text-center mt-3 mb-4">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">Login</button>
                        </div>
                        <div class="form-group">
                            <p>
                                Not a member yet? <a href="@Url.Action("Register", "Account")">Signup</a>
                            </p>
                        </div>
                    }
                </div>

            </div>

        </div>
    </section>
</main>

